
.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml


venv310/
venv/
env/
**pycache**/
*.pyc

*.log
logs/

.env
.env.*


kafka/data/
kafka/logs/
cassandra/data/
cassandra/commitlog/
cassandra/saved_caches/


*.tmp
*.swp
